<h2>Sản phẩm gần đây </h2>
<div class="product-grid">
    {{#each listings}}
    <div class="product-card">
        <img src="{{this.img}}" alt="product">
        <h3><a href="/product/{{this.id}}">{{this.title}}</a></h3>
        <p class="price">{{this.price}} đ</p>
        <p class="loc">{{this.location}}</p>
        <p>Độ mới: {{this.condition}}%</p>
    </div>
    {{/each}}
</div>